
body {
    font-family: "Gilroy", sans-serif;
    background-color: #fbfbfb;
}
ul,ol {
    list-style-type: none;
        margin: 0;
        padding: 0;
}
a {
    text-decoration: none;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
button {
    cursor: pointer;
    font-family: "Gilroy", sans-serif;
}
.container {
    max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* #region Header */
.header {
    
}

.logo {
    font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #0c0c0c;

}

.nav-menu {

}

.nav-list {
display: none;
}

.nav-item {
    
}
.nav-item:hover,
.nav-item:focus {
    
}

.nav-menu-link {
    
}
.nav-item:hover .nav-menu-link,
.nav-item:focus .nav-menu-link {
    
}
.soc-list {
    display: none;
}

.soc-item {}

.soc-link {

}
.soc-link:hover, .soc-link:focus {

}
.burger-btn {}

.burger-icon {}
/* #endregion Header */
